.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin: 10px 0 0 0;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 0 20px;
  }
  
  .form-container {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .graph-container {
    flex: 2;
    max-width: 1200px;
    padding: 20px;
    margin: 10px;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 90%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  